* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  }
  body {
    width: 100%;
    height: 100%;
    background: #dde1e7;
  }
  .box{
    position: absolute;
    top: 5%;
    right: 15px;
    width: 750px;
    height: 600px;
    background: #dde1e7;
    border: 3px solid #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff9c,
    3px 3px 5px rgba(2, 104, 121, 0.288);
  }
  .image{
    position: absolute;
    right: 15%;
    bottom: 1%;
  }
  .text h2{
    color: #dde1e7b6;
    font-size: 25px;
    font-weight: bold;
    text-transform: none;
  margin-bottom: 20px;
  font-family: 'PT Serif', serif;
  }
  .text{
    width: 70%;
    text-align: center;
    position: absolute;
    left: 15%;
    top: 10%;
    color: rgb(216, 213, 213);
    font-size: 16px;
    font-family: 'PT Serif', serif;
  }
  .box2{
    position: absolute;
    top: 5%;
  left: 3%;
    width: 30%;
    height: 600px;
    background: rgba(60, 60, 83, 0.795);
    border: 3px solid #686868;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffffd7,
    3px 3px 5px rgba(60, 60, 83, 0.705);
  }
  .image2{
    position: absolute;
    left: 60%;
    bottom: 5px;
  }
  .box3{
    position: absolute;
    top: 28%;
    right: 40px;
    width: 250px;
    height: 250px;
    background: #556cb9e1;
    border: 3px solid #556cb9c0;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #9c9b9b9c,
    3px 3px 5px rgba(69, 76, 87, 0.486); 
  }
  .text2{
    width: 65%;
    text-align: center;
    position: absolute;
    left: 20%;
    top: 14%;
    color: #dfddddef;
    font-size: 15px;
    font-family: 'PT Serif', serif;
  }